/*  Главная*/
:root{
  --brund-color:#2196F3;
  --text-color:#212121;
  --section-color:#2F303A;
  --button-color:#FFFFFF;
  --team-color:#F5F4FA ;
  --studio-color:#000000;
  --link-contacts-color:#757575;
  --address-link-tel-color:rgba(255,255,255,0.6);
  --body-color:#757575;
  --body-background-color:#FFFFFF ;
  --currentcolor:#2196F3;
 }

body{ 
 font-family:'Roboto', sans-serif;
 font-size: 14px;
 letter-spacing: 0.03em;
 color:var(--body-color) ;
 background-color:var(--body-background-color) ;
}
.none{
  display: none;
}
.current>a {
 color:var(--currentcolor) ;
}  
.list{
  list-style: none;
 }
 .feature>.feature-text{
   list-style: none;
 }
 .team>.team-names{
   list-style: none;
 }
 
 /* Верхняя линия */


.logo{
 text-decoration: none;
}
  .web{
  font-family:'Raleway' ;
  font-weight: 700;
  font-size: 26px; 
  line-height: 1.19;
  color:var(--brund-color);
 }
.studio{
 font-family:'Raleway' ;
 font-weight: 700;
 font-size: 26px;
 line-height :1.19;
  color: var(--studio-color);
}
.studio-footer{
 font-family:'Raleway' ;
 font-weight: 700;
 font-size: 26px;
 line-height :1.19;
 color:var(--button-color) ;
}
  
.link{
 font-weight: 500;
line-height: 1.14;
color:var(--text-color) ;
text-decoration: none;
letter-spacing: 0.02em;
}
.link:hover{
 color:var(--brund-color);
}
.link:focus{
 color:var(--brund-color);
}
.link:active{
 color:var(--brund-color);
}

.link-contacts{
 font-weight: 500;
 line-height:1.14;
 color:var(--link-contacts-color) ;
 text-decoration: none;
 letter-spacing: 0.02em;
}
.link-contacts:hover{
 color:var(--brund-color);
}
.link-contacts:focus{
   color:var(--brund-color);
 }

/* Шапка */
.servise{
background-color:var(--section-color);
}
h1{
 font-size: 44px;
 line-height:1.36;
 color:var(--button-color);
 letter-spacing: 0.06em;
 text-transform: uppercase;
}
.button{
background-color:var(--brund-color) ;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15) ;
  border-radius: 4px; 
  border: none;
}
.button-text{ 
 font-weight: 700;
 font-size: 16px;
 line-height: 1.87;
 color:var(--button-color) ;
 letter-spacing: 0.06em;
}
.button, 
.filter{
 cursor: pointer;
}
/* Особенности */
.feature{
  line-height:1.71; 
}
 .feature-title{ 
  line-height:1.14 ;
  color:var(--text-color) ;
  text-transform: uppercase;
 }
/* Чем мы занимаемся */ 


.work-title{
   font-size:36px ;
   line-height: 1.16;
   color:var(--text-color) ;  
}
/* Наша команда */

.team{
   background-color:var(--team-color) ;
 }
 .team-title{
  
   font-size:36px ;
   line-height: 1.16;
   color:var(--text-color) ;   
 }
.team-names{ 
    font-size: 16px;
     line-height:1.18;  
}

 .team-name{
    font-size: 16px;
    line-height:1.18;
    font-weight: 500;
    color:var(--text-color); 
 }   
  
 /* Подвал */
.footer{
   background-color:var(--section-color) ;
}
.address-link{
  font-style: normal;
  line-height: 1.71;
   color: var(--button-color);
   text-decoration: none;
}
.address-link:hover{
 color: var(--brund-color);
  }
.address-link:focus{
 color:var(--brund-color);
}
.address-link-tel{
  font-style: normal;
  line-height: 1.71;
  color:var(--address-link-tel-color);
  text-decoration: none;
}
.address-link-tel:hover{
 color:var(--brund-color);
}
.address-link-tel:focus{
 color:var(--brund-color);
}
/*  Фильтр*/

.filter{
  font-size: 16px;
  line-height:1.62 ;
  background-color:var(--team-color) ;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
}
.filter:hover{
 background-color:var(--brund-color) ;
 color:var(--button-color);
}
.filter:focus{
 background-color:var(--brund-color) ;
 color:var(--button-color);
}
/* Проекты */
.title { 
 font-size: 16px;
 line-height:1.87 ;
}
.title-names{
 font-size:18px ;
 line-height:2 ;
 letter-spacing: 0.06em;
 color: var(--text-color);
}